* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(228, 228, 247);

}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;

}

h1 {
    font-size: 2em;
    color: rgb(97, 7, 7);
}

h2 {
    font-size: 1.5em;
    color: chocolate;
}

img.lado {
    float: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: none;
    color: 26, 26, 255;
}